@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

body{
    font-family: "Rosarivo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin:0%;
    background: url(/static/albumlogo.png), #966de6; 
    background-position: top right;
    background-size: 500px, cover;
    background-repeat: no-repeat;
    padding: 5% 10%;
    color: #110c1b;
}
.dark-mode{
  background: url(/static/albumlogowhite.png), #2f2248;
  color: #d7cfe6;
  background-position: top right;
    background-size: 500px, cover;
    background-repeat: no-repeat;
}


nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 50px;
    justify-content:left;
    align-content: left;
    padding:0px;
}

nav ul li{
    padding: 2rem;
    border: solid 1px black;
    width: 120px;
    text-align: center;
}
nav ul a{
    color:#2c0579;
}
nav ul li:hover{
    background-color: rgb(168, 131, 241);
}
nav ul a:hover{
     color:#8ff92b;
}

.dark-mode > nav ul a{
    color:#d7cfe6;
}
.dark-mode > nav ul li:hover{
    background-color: #5a408a;
}

.dark-mode > nav ul a:hover{
     color:#8ff92b;
}

h1{
    font-family: "Rosarivo", serif;
    font-style: normal;
    font-size: 48px;
}
h2{
    font-family: "Rosarivo", serif;
    font-style: normal;
    font-size: 32px;
    line-height: 1.5;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h3{
    font-family: "Rosarivo", serif;
    font-style: normal;
    font-size: 24px;
    line-height: 2;
    padding-top: 0px;
    margin-top: 0px;
}
p{
    text-indent: 50px;
    line-height: 1.4;
}
.paragraph{
    text-decoration: underline;
}
#no-indent{
    text-indent: 0px;
}
#quote{
    quotes: "«""»"
}
ol li{
    margin-bottom: 1em;
}
ol li .paragraph-text{
    display: block;
    margin-top: 0.5em;
    text-align: justify;
}

#discography{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

#gallery{
    display:grid;
    grid-template-columns: auto auto;

}

#gallery img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#gallery figure{
    width:500px;
    height:300px;
}

button{
    background: #c5b4e5;
    padding: 25px;
    font-family: "Rosarivo", serif;
    font-weight:bold;
    font-size: 15px;
}

#typewriter{
    width: 1200px;
}

footer{
    padding-top: 50px;
}